.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 10vh 10vw;
}

.home-container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;

    & h1{
        color: #000;
        text-align: center;
        font-size: 5rem;
        font-weight: 400;
        max-width: 75rem;
    }

    & p{
        width: 100%;
        color: #000;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 400;
        max-width: 35rem;
    }
}

.home-container .button{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    background-color: #183EFF;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    text-decoration: none;
}

.home-container .button:hover{
    cursor: pointer;
    opacity: 0.9;
}