.sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.topicos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

button{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}