.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.topics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.about button{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #183EFF;
    border: none;

    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}

.sobre button:hover{
    cursor: pointer;
}