header{
    width: 100%;
    box-sizing: border-box; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links{
    & ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        list-style: none;
    }

    & a{
        color: #000;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: #183EFF;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;

    transition: all 0.2s ease-in-out;
}

button:hover{
    cursor: pointer;
    opacity: 0.9;
}