header{
    box-sizing: border-box; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 8.5rem 1.25rem 8.5rem;
}

.links{
    & ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        list-style: none;
    }

    & a{
        color: #000;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
    }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: #183EFF;
    border: none;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;

    transition: all 0.2s ease-in-out;
}

button:hover{
    cursor: pointer;
    opacity: 0.9;
}