.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 10vh 10vw;
}

.error-container h1{
    color: #BBB;
    font-size: 3rem;
    font-weight: 900;
}

.mensagem{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-container .button{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    background-color: #183EFF;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    text-decoration: none;
}